<div class="bg-footer">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-4 col-sm-4 text-white">
                <img class="img-fluid mb-3" src="assets/images/logo-rentas-2024-white.png" width="100px" alt="Rivero rentas" />
                <p>               
                    Av. Miguel Alemán #5400 <br /> Col. Torres de Linda Vista, <br />
                    Guadalupe, Nuevo León. <br/>
                    +52 (81) 1160 8666
                </p>
                <p>
                    Venustiano Carranza Sur #811
                    <br /> Col.Centro , <br />
                    Monterrey, Nuevo León. <br/>
                    +52 (81) 2090 0101
                </p>
            </div>
            <div class="col-md-3 col-sm-6 text-white">
                <p><strong>Sitio</strong></p>
                <a class="btn btn-secondary mb-1" href="/">Inicio</a><br>
                <a class="btn btn-secondary mb-1" href="nuestras-unidades">Nuestras unidades</a><br>
                <a class="btn btn-secondary mb-1" href="empresarial">Empresarial</a><br>
                <a class="btn btn-secondary mb-1" href="promociones-para-rentar-autos">Promociones</a><br>
                <a class="btn btn-secondary mb-1" href="requisitos">Requisitos</a><br>
                <a class="btn btn-secondary mb-1" href="contacto">Contacto</a><br>
                <a class="btn btn-secondary mb-1" href="aviso-privacidad">Aviso de Privacidad</a>
            </div>
            <div class="col-md-3 col-sm-6 text-white">
                <p><strong>¿Tienes dudas?</strong></p>
                <span class="mx-1"><a href="tel:+52(81)1608666" target="_blank" class="btn btn-secondary"><img width="30px" src="assets/images/botones/btn_f_tel.svg" /></a></span>
                <span class="mx-1"><a href="https://wa.me/+528182596656" target="_blank" class="btn btn-secondary"><img width="30px" src="assets/images/botones/btn_f_whats.svg" /></a></span>
                <p class="mt-3"><strong>Contáctanos</strong></p>
                <p><a href="mailto:inforenta@gruporivero.com" target="_blank" class="btn btn-secondary" rel="noreferrer">inforenta@gruporivero.com</a></p>
                <p><a href="mailto:rentasflotillas@gruporivero.com" target="_blank" class="btn btn-secondary" rel="noreferrer">rentasflotillas@gruporivero.com</a></p>
                <p class="mt-3"><strong>Redes sociales</strong></p>
                <span class="mx-1"><a href="https://www.facebook.com/riverorenta" target="_blank" rel="noreferred"><img width="30px" src="assets/images/icons/i_facebook.svg" /></a></span>
                <span class="mx-1"><a href="https://www.youtube.com/watch?v=S_9X_zycHpU&t=2s" target="_blank" rel="noreferred"><img width="30px" src="assets/images/icons/i_youtube.svg" /></a></span>
                <span class="mx-1"><a href="https://www.instagram.com/gruporivero/?hl=es-la" target="_blank" rel="noreferred"><img width="30px" src="assets/images/icons/i_insta.svg" /></a></span>
                <span class="mx-1"><a href="https://www.tiktok.com/@agenciarivero" target="_blank" rel="noreferred"><img width="30px" src="assets/images/icons/i_tiktok.svg" /></a></span>

            </div>

            <div class="col-md-2 col-sm-2 text-white">
                <p><strong>Sitio seguro</strong></p>
                <a href="https://seal.godaddy.com/verifySeal?sealID=wtjxx2IazWuxWBrPXg579nETVFOklniAlwV1eOeZRIGiiozxZAbx4UeJwIyu" target="_blank"><img class="sitio-seguro" src="assets/images/botones/sitio-seguro.gif" /></a>
            </div>
        </div>
    </div>
</div>
