<nav id="barraMenu" class="bg-white align-items-center header-shadow navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a href="/home" style="user-select: none;text-decoration:none"><span style="display: flex;align-items: center;" id="logo" class="navbar-brand">
            <img class="img-brand-primo mx-2" src="assets/images/primorivero.png" alt="Grupo Rivero">    
            <img class="img-brand mx-2" src="assets/images/logo-rentas-2024.png" alt="Grupo Rivero">
                <div class="plus-logo" >Fácil y rápido</div>
            <!-- <div class="plus-logo" style="user-select: none;">DE CARROS<br/> HASTA <br/> FLOTILLAS</div> -->
        </span></a>
        <div class="m-0">
                           
                <div class="my-1 my-lg-0 small-menu-text">
                    <a target="_blank" href="tel:8111608666" data-rb-event-key="tel:8111608666" class="mt-2 NavlabelLlamada btn nav-link " style="float:left">
                        <img width="40px" src="assets/images/icons/telefono.svg" alt="telefono">
                    </a>
                    <a target="_blank" href="https://wa.me/+528110441044" data-rb-event-key="https://wa.me/+528110441044" class="btn NavlabelWhatsapp nav-link " style="float:left">
                        <img width="50px" src="assets/images/icons/whatsapp.jpg" alt="whatsapp"> <br> 
                        <label class="labelWhatsapp mt-2">Whatsapp</label>
                    </a>
                    <a *ngIf="home == true" class="btn nav-link NavBotonUnidades" style="float:left;justify-content: center;margin-top: 20px;" href="nuestras-unidades">
                        <div style="display: flex; justify-content: center;min-width: 180px;color: white;box-shadow:none;font-weight: 600;" class="boton-border boton-home p-1">Nuestras unidades</div>
                    </a>
                </div>
                <a *ngIf="home == true" class="btn NavlabelWhatsapp-movil nav-link p-0" style="float:left;justify-content: center;" href="nuestras-unidades">
                    <div style="display: flex; justify-content: center;min-width: 140px;color: white;box-shadow:none;font-weight: 600;" class="boton-border boton-home p-1">Nuestras unidades</div>
                </a>
                
        </div>
    </div>
</nav>