<form>
    
    <div class="form-group">
        <input #nombre type="text" class="form-control" placeholder="Nombre">
    </div>
    <div class="row">
        <div class="col">
            <input #correo type="text" class="form-control" placeholder="Correo">
        </div>
        <div class="col">
            <input #telefono type="text" class="form-control" placeholder="Telefono">
        </div>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" />
        <label>* Leí y acepto las condiciones de compra y políticas de privacidad.</label>
    </div>
  </form>