<div class="container">
    <div class="row m-3">
        <a href="/" class="text-dark">Inicio/</a><strong>Contacto</strong>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h1>¿Tienes dudas?</h1>
            <h4>Para rentar un auto</h4>
        </div>            
    </div>
    <div class="row mt-5">
        <div class="col-lg-8">
            <iframe
              title="street cars map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3595.3172937456534!2d-100.24063398566186!3d25.69391661767523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662eabd69a4464b%3A0x36d4680bc9161881!2sAv.%20Miguel%20Alem%C3%A1n%205400%2C%20Torres%20de%20Linda%20Vista%2C%2067138%20Monterrey%2C%20N.L.%2C%20M%C3%A9xico!5e0!3m2!1ses!2sar!4v1567198934503!5m2!1ses!2sar"
              height="400"
              frameborder="0"
              allowfullscreen=""
              style="border: 0; width: 100%;"
            ></iframe>
        </div>
          <div class="col-lg-4">
            <div >
              <h3>Guadalupe, NL, México</h3>
            </div>
            <p>
              <span>Av. Miguel Alemán #5400</span> <br>
              <span>De Lunes a Viernes de 09 a 19hs.</span> <br>
              <span>Sábados de 09 a 18hs</span>
            </p>

            <p>
              <a href="tel:+528111608610" class="text-dark">
                <img src="assets/images/icons/btn_phone.png" width="20px" height="20px" /> ‭+52 (81) 8111608666
              </a>
            </p>
            <p>
              <a
                href="mailto:inforenta@gruporivero.com"
                class="text-dark"
              >
                <img src="assets/images/icons/mail-0.png" width="20px" height="20px" />
                riverorenta@gruporivero.com
              </a>
            </p>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-8 mb-3">
            <iframe
              title="street cars map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2900.3575954713865!2d-100.33201300064307!3d25.684702747773056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866295f26464d8af%3A0xf43fe3cf345e548!2sAv.%20Venustiano%20Carranza%20811%2C%20Centro%2C%2064000%20Monterrey%2C%20N.L.%2C%20M%C3%A9xico!5e0!3m2!1ses-419!2sar!4v1591189001671!5m2!1ses-419!2sar"
              height="400"
              frameborder="0"
              allowfullscreen=""
              style="border: 0px; width: 100%;"
            ></iframe>
        </div>
        <div class="col-lg-4">              
            <h3>Monterrey, NL, México</h3>              
            <p>
              <span>Av. Venustiano Carranza #811</span> <br>
              <span>De Lunes a Viernes de 09 a 14hs.</span> <br>
              <span>Sábados de 09 a 18hs</span>
            </p>
            <p>
                <a href="tel:+528120900101" class="text-dark">
                    <img src="assets/images/icons/btn_phone.png" width="20px" height="20px" /> ‭+52 (81)
                    2090 0101
                </a>
            </p>
            <p>
              <a
                href="mailto:inforenta@gruporivero.com"
                class="text-dark"
              >
                <img src="assets/images/icons/mail-0.png" width="20px" height="20px" />
                inforenta@gruporivero.com
              </a>
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-8 ">
            <app-contacto-cliente></app-contacto-cliente>
        </div>
    </div>
    
</div>
