<div>
    <div class="d-flex row m-0" style="background-color: #083261;">
        <div class="col-lg-6 col-md-6 col-sm-12 d-xl-flex d-lg-flex d-md-flex d-sm-none d-xs-none d-none justify-content-end align-items-center">
            <div class="mr-4">
                <p class="text-white titulo-plataformas m-0" style="font-weight: 600;">Genera ingresos</p>
                <p class="text-white titulo-plataformas m-0" style="font-weight: 600;">con nuestro <span class="text-center" style="font-size: 1em;color: #0185e8;">plan</span> </p>
                <p class="titulo-plataformas" style="font-weight: 600;color: #0185e8;">para plataformas</p>

                <h1 class="text-white mb-0 mt-4" style="font-weight: 600;font-size: 4em!important;">Beneficios:</h1>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-xl-none d-md-none d-sm-flex justify-content-center align-items-center">
            <div>
                <p class="text-white titulo-plataformas m-0" style="font-weight: 600;">Genera ingresos con nuestro <span class="text-center" style="font-size: 1em;color: #0185e8;">plan para plataformas</span> </p>

                <h1 class="text-center text-white mb-0 mt-2" style="font-weight: 600;font-size: 2em!important;">Beneficios:</h1>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center align-self-center banner-plataformas">
            
        </div>
    </div>

    <div class="div-row-plataformas">
        <div class="row mr-0 ml-0 row-banner-plataformas">
            <div class="col-12 col-lg-3 col-xl-3 col-md-12 col-xs-6 p-4 m-2 card-banner" style="display: flex;max-width: 380px;min-width: 280px;">
                <div class="p-0 texto-cards-flotillas"><b style="font-size: 1.5em;color: #083261;">Mantenimiento preventivo</b><br/>Cambio de aceite, revisón de frenos, inspección de neumáticos, chequeo de fluidos y filtros, suspensión.</div>
            </div>
            <div class="col-12 col-lg-3 col-xl-3 col-md-4 col-xs-6 p-4 m-2 card-banner justify-content-center align-items-center" style="display: flex;max-width: 380px;min-width: 280px;" >
                <div class="text-center p-0 texto-cards-flotillas"><b class="text-center" style="font-size: 1.5em;color: #083261;">Opción a compra</b></div>
            </div>
            <div class="col-12 col-lg-3 col-xl-3 col-md-4 col-xs-6 p-4 m-2 card-banner justify-content-center align-items-center" style="display: flex;max-width: 380px;min-width: 280px;" >
                <div class="p-0 texto-cards-flotillas"><b style="font-size: 1.5em;color: #083261;">Placas y seguro incluidos</b></div>
            </div>
        </div>
    </div>

</div>

<div class="container p-4 mt-3">

    <div *ngIf="loadedSpiner == true" class="container d-flex w-100 h-100 justify-content-center align-self-center mt-5">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Cargando datos...</span>
        </div>
    </div>

    <div class="row mt-4">
        <div *ngFor="let unidad of unidades" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 mb-3 div-lista-autos">
            <div class="card p-1 h-100"  style="border-radius: 20px;border: 1px solid gray;">
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-12" style="color: #083261;">
                            <b style="font-size: 1.5em;">{{unidad.modelo}} </b>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div class="align-self-center">
                                <img class="m-auto img-fluid" width="100%" [src]="unidad ? unidad.img : null" [alt]="auto ? auto.modelo : null"/>
                            </div>
                        </div>
                        <div class="row m-0" style="width: 100%;">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                <div *ngIf="unidad.status == 1" style="display: flex; justify-content: center;min-width: 140px;max-width: 150px;color: white;box-shadow:none;font-weight: 600; font-size: 1.5em;" class="boton-border boton-reserva-ya-traslados m-0" (click)="goRentaApps(unidad.modelCode)">Me interesa</div>
                                <div *ngIf="unidad.status == 0" style="display: flex; justify-content: center;min-width: 140px;max-width: 150px;color: #2486fc;box-shadow:none;font-weight: 600; font-size: 1.5em;">Próximamente</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" style="margin-top: 125px;" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                ¡RENTA AHORA!
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <input #nombreI class="form-control" type="text" placeholder="Nombre y apellidos" (change)="nombre = nombreI.value" onkeydown="return /[a-z, ]/i.test(event.key)"/>
                        </div>
                        <div class="form-group col-12">
                            <select #plataformaI class="form-control" type="text" placeholder="Plataforma" (change)="plataforma = plataformaI.value" onkeydown="return /[a-z, ]/i.test(event.key)">
                                <option value="Didi">Didi</option>
                                <option value="Uber">Uber</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label>Tiempo Activo en Plataforma:</label>
                            <select #tiempoI class="form-control" type="text" placeholder="Tiempo" (change)="tiempo = tiempoI.value" onkeydown="return /[a-z, ]/i.test(event.key)">
                                <option value="Menos2Meses">Menos de 60 días</option>
                                <option value="Entre_2_y_6_meses">Entre 2 y 6 meses</option>
                                <option value="Mas_de_6_meses">Más de 6 meses</option>
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <input #correoI class="form-control" type="email" placeholder="Correo" (change)="correo = correoI.value" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                        </div>
                        <div class="form-group col-12">
                            <input #telefonoI class="form-control" type="text" placeholder="Teléfono" (change)="telefono = telefonoI.value" maxlength="10" onkeypress="return /[0-9]/i.test(event.key)"/>
                        </div>

                        <div class="form-group col-12">
                            <textarea #mensajeI class="form-control" placeholder="Deja tu mensaje (opcional)" rows="5" (change)="mensaje = mensajeI.value"></textarea>
                        </div>
                    </div>
                </form>
                <hr/>
                <div class="row justify-content-center">
                    <div class="col-5"> 
                        <div class="boton boton-primario text-center" (click)="correoCliente()" data-dismiss="modal">Enviar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>