<div class="row mx-3" style="position: absolute;">
    <a class="text-dark" style="cursor: pointer;" (click)="goRentaApps()">Ver Autos /</a><strong>Requisitos</strong><br>
</div>

<div class="container p-4">

    <div class="my-2" style="background-color: #083261;padding: .5em;">
        <div class="d-flex row m-0" style="background-color: #0185e8;border-radius: 5px; padding: 10px;">
            <div class="col-12">
                <h1 class="text-center text-white titulo-nuestrasUnidades" style="font-weight: 600;">¿Qué necesito?</h1>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-4">
            <div style="box-shadow: 2px 2px 2px 1px gray; border-radius: 10px;" class="reqIzq">
                <div class="text-center">
                    <img class="iconoRequisitos" src="assets/images/requisitos/icono_conductor.png">
                </div>
                <div class="text-center p-4">
                    <p style="font-size: 1.7em;">Ser conductor <br>de alguna<br> plataforma</p>
                    <img class="logoPlataformasR" src="assets/images/icons/logo_plataformas.png">
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-4">
            <div style="box-shadow: 2px 2px 2px 1px gray; border-radius: 10px" class="reqIzq">
                <div class="text-center">
                    <img class="iconoRequisitos" src="assets/images/requisitos/icono_viajes.png">
                </div>
                <div class="text-center p-4">
                    <p style="font-size: 1.7em;">Haber <br> realizado<br> viajes en <br>2 meses</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-4">
            <div style="box-shadow: 2px 2px 2px 1px gray; border-radius: 10px" class="reqDer">
                <div class="text-center">
                    <img class="iconoRequisitos" src="assets/images/requisitos/icono_constacia.png">
                </div>
                <div class="text-center p-3 py-4">
                    <p style="font-size: 1.7em;">Contar con <br>Constancia de <br>Situación Fiscal <br>actualizada al 2023</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-4">
            <div style="box-shadow: 2px 2px 2px 1px gray; border-radius: 10px" class="reqDer">
                <div class="text-center">
                    <img class="iconoRequisitos" src="assets/images/requisitos/icono_comprobante_ingresos.png">
                </div>
                <div class="text-center p-3 py-4">
                    <p style="font-size: 1.7em;">Comprobar ingresos semanales en tu plataforma en los últimos 2 meses</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-4">
            <div style="box-shadow: 2px 2px 2px 1px gray; border-radius: 10px" class="reqIzq">
                <div class="text-center">
                    <img class="iconoRequisitos" src="assets/images/requisitos/icono_mayor_edad.png">
                </div>
                <div class="text-center p-4">
                    <p style="font-size: 1.7em;">Ser mayor de<br> 23 años</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-4">
            <div style="box-shadow: 2px 2px 2px 1px gray; border-radius: 10px" class="reqIzq">
                <div class="text-center">
                    <img class="iconoRequisitos" src="assets/images/requisitos/icono_monterrey.png">
                </div>
                <div class="text-center p-4">
                    <p style="font-size: 1.7em;">Vivir en<br>Monterrey</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-4">
            <div style="box-shadow: 2px 2px 2px 1px gray; border-radius: 10px" class="reqDer">
                <div class="text-center">
                    <img class="iconoRequisitos" src="assets/images/requisitos/icono_ine_licencia.png">
                </div>
                <div class="text-center p-4">
                    <p style="font-size: 1.7em;">Tener INE y licencia vigentes</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 my-4">
            <div style="box-shadow: 2px 2px 2px 1px gray; border-radius: 10px" class="reqDer">
                <div class="text-center">
                    <img class="iconoRequisitos" src="assets/images/requisitos/icono_estrellas.png">
                </div>
                <div class="text-center p-4">
                    <p style="font-size: 1.7em;">Tener una buena calificación de 4.5</p>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-center">
        <div class="bg-primary text-white py-2 px-5" style="font-size: 2em;border-radius: 10px;cursor: pointer;" data-toggle="modal" data-target="#exampleModal">¡Lo quiero!</div>
    </div>

    <!-- MODAL -->

    <div class="modal fade" style="margin-top: 125px;" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    ¡RENTA AHORA!
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-renta-plataforma></app-renta-plataforma>
                </div>
            </div>
        </div>
    </div>

</div>