<div class="container">
    <div class="row m-3">
        <a href="/" class="text-dark">Inicio/</a><strong>Condiciones</strong>
    </div>
    <div class="row">
        <div class="col-12 text-center my-4">
            <h1>¿Qué tienes que saber para rentar un auto?</h1>
            <h4>Condiciones para rentar un auto</h4>
        </div>
        <div class="col-md-4">
            <h3>Personas físicas local</h3>
            <h5>Pago en efectivo</h5>
            <ul>
                <li><i class="fas fa-angle-right"></i> Identificación oficial (Ife, pasaporte vigente).</li>
                <li><i class="fas fa-angle-right"></i> Licencia vigente del estado de N.L.</li>
                <li><i class="fas fa-angle-right"></i> Comprobante de domicilio, coincidente con las identificaciones (recibo agua, luz o gas).</li>
                <li><i class="fas fa-angle-right"></i> Firma de contrato y pagaré.</li>
                <li><i class="fas fa-angle-right"></i> Depósito de garantía en efectivo (de acuerdo a unidad).</li>
                <li><i class="fas fa-angle-right"></i> Edad mínima: 22 años.</li>               
              </ul>
        </div>
        <div class="col-md-4">       
            <h3 className="mb-1">Personas morales</h3>
            <h5>Pago en TDC, depósitos electrónicos, débito</h5>
            
            <ul>
              <li><i class="fas fa-angle-right"></i> Identificación oficial del representante (ife).</li>
              <li><i class="fas fa-angle-right"></i> Licencia vigente del representante.</li>
              <li><i class="fas fa-angle-right"></i> Bloqueo de garantía (de acuerdo a unidad).</li>
              <li><i class="fas fa-angle-right"></i> Firma de contrato y pagaré del titular.</li>
              <li><i class="fas fa-angle-right"></i> Poder notariado y acta constitutiva.</li>
              <li><i class="fas fa-angle-right"></i> Rfc y comprobante del domicilio de la empresa.</li>
              <li><i class="fas fa-angle-right"></i> Edad mínima: 22 años.</li>     
            </ul>
        </div>
        <div class="col-md-4">       
            <h3 className="mb-1">Persona foráneas</h3>
            <h5>Pago con tarjeta de crédito</h5>        
            <ul>
              <li><i class="fas fa-angle-right"></i> Identificación oficial (Ife).</li>
              <li><i class="fas fa-angle-right"></i> Licencia vigente de estado que reside.</li>
              <li><i class="fas fa-angle-right"></i> Pago y Bloqueo de garantía con TDC (de acuerdo a unidad).</li>
              <li><i class="fas fa-angle-right"></i> Licencia vigente de estado que reside.</li>
              <li><i class="fas fa-angle-right"></i> Firma de contrato y pagaré.</li>
              <li><i class="fas fa-angle-right"></i> Edad mínima: 25 años.</li>
            </ul>
          </div>
    </div>

    <div class="row">
        <div class="col-12 text-center my-4">
            <h1>Faq</h1>
        </div>
        <div class="col-6">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ¿Es riverorenta.com la mejor vía para reservar?
                        </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                        Sin duda alguna. Las mejores promociones se encuentran
                        disponibles en nuestro sitio www.riverorenta.com
                        </div>
                    </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Puedo reservar un modelo de auto en específico?
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      No podemos garantizar el modelo del auto, sin embargo,
                      podemos garantizarte la tarifa reservada. Si no contamos
                      con la categoría de auto que reservaste, te otorgaremos
                      uno de mejor categoría.
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="accordion" id="accordionExample1">
                <div class="card">
                  <div class="card-header" id="headingOne1">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne1"
                        aria-expanded="true"
                        aria-controls="collapseOne1"
                      >
                        ¿Necesito tarjeta de crédito para realizar mi
                        reservación?
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapseOne1"
                    class="collapse show"
                    aria-labelledby="headingOne1"
                    data-parent="#accordionExample1"
                  >
                    <div class="card-body">
                      No necesitas tarjeta de crédito para realizar tu
                      reservación, sin embargo, será necesario presentar una
                      tarjeta de crédito en cuanto recojas tu auto.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo1">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo1"
                        aria-expanded="false"
                        aria-controls="collapseTwo1"
                      >
                        ¿Cómo cancelo mi reservación?
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTwo1"
                    class="collapse"
                    aria-labelledby="headingTwo1"
                    data-parent="#accordionExample1"
                  >
                    <div class="card-body">
                      Si tu reservación fue realizada a través de nuestro Call
                      Center o a través de un sitio de terceros, por favor
                      utiliza el mismo medio para cancelarla. Rivero Rent A Car
                      no te cobra por cancelar tu reservación siempre y cuando
                      nos notifiques sobre la misma. Si tu reservación fue
                      realizada por un sitio de terceros, por favor verifica las
                      políticas del sitio para evitar cargos por cancelación.
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
