<form>
    <div class="form-row">
        <div class="form-group col-12">
            <input #nombreI class="form-control" type="text" placeholder="Nombre y apellidos" (change)="nombre = nombreI.value" />
        </div>
        <div class="form-group col-12">
            <input #empresaI class="form-control" type="text" placeholder="Empresa" (change)="empresa = empresaI.value" />
        </div>
        <div class="form-group col-12">
            <input #correoI class="form-control" type="email" placeholder="Correo" (change)="email = correoI.value"/>
        </div>
        <div class="form-group col-12">
            <input #telefonoI class="form-control" type="number" placeholder="Teléfono" (change)="telefono = telefonoI.value"/>
        </div>
        <div class="form-group col-12">
            <textarea #mensajeI class="form-control" placeholder="Deja tu mensaje (opcional)" rows="5" (change)="mensaje = mensajeI.value"></textarea>
        </div>
    </div>
</form>
<div class="row justify-content-center">
    <div class="col-5"> 
        <div class="boton boton-primario text-center" (click)="sendContact()">Enviar</div>
    </div>
</div>